@charset "UTF-8";

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

  .container {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
  }
  
  table {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
	position: relative;
 	 overflow: hidden;
 	 width: 768px;
 	 max-width: 100%;
 	 min-height: 480px;
 	  font-size: 25px;
  }
  
    li {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  li a {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
    ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }